.article__preview {
  max-width: 100%;
  display: flex;
  gap: 20px;
  padding: 10px 0;
  flex-wrap: wrap;
}

.article__previewImg {
  max-width: 300px;
  height: auto;
}

.article__previewText {
  width: 500px;
}
.article__previewText,
.article__previewText p {
  padding-top: 20px;
}

.card__sidebar {
  background-color: lightgrey;
  color: #3c4858;
  width: auto;
  padding: 15px;
  border-radius: 3px;
  gap: 10px;
  margin-top: 10px;
  border: 2px solid lightgrey;
}

.card__sidebar:hover {
  border: 2px solid black;
  cursor: pointer;
}
