.article__preview {
  max-width: 100%;
  display: flex;
  gap: 20px;
  padding: 10px 0;
  flex-wrap: wrap;
}

.article__previewImg {
  float: left;
  margin-top: 8px;
  margin-bottom: 8px;
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.article__previewImg:first-child {
  margin-left: -20px;
}

.article__previewText {
  width: 500px;
}

.article__previewText,
.article__previewText p {
  padding-top: 8px;
  text-align: justify;
}

.article__previewText--light {
  background-color: var(--light-mode-background);
  color: var(--light-mode-text);
  text-decoration: underline white;
}

.article__previewText--dark {
  /* background-color: var(--dark-mode-elements); */
  color: var(--dark-mode-text);  
  text-decoration: underline var(--dark-mode-background);

}

.card__sidebar {
  background-color: lightgrey;
  color: #3c4858;
  width: auto;
  padding: 15px;
  border-radius: 3px;
  gap: 10px;
  margin-top: 10px;
  border: 2px solid lightgrey;
}

.card__sidebar:hover {
  border: 2px solid black;
  cursor: pointer;
}
