.footer {
    height: 7rem;
  }
  
  .container {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
  }
  
  .footer--light {
    background-color: var(--light-mode-background);
    color: var(--light-mode-text);
  }
  
  .footer--dark {
    color: var(--dark-mode-text);
  }